* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.calculator {
  max-width: 500px;
  margin: 0 auto;
}

.screen {
  font-size: 32px;
  background-color: hsl(268, 71%, 12%);
  padding: 20px 10px;
  text-align: right;
  color: white;
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.key {
  width: 20%;
  padding: 10px 20px;
  background-color: hsl(30, 25%, 89%);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
