* {
  box-sizing: border-box;
  font-family: "League Spartan";
  font-size: 32px;
  font-weight: 700;
}

.App {
  text-align: center;
}

.title {
  text-align: left;
}

.calculator {
  max-width: 600px;
  margin: 0 auto;
}

.screen {
  background-color: hsl(268, 71%, 12%);
  padding: 20px 10px;
  text-align: right;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: hsl(268, 71%, 12%);
  border-radius: 5px;
  padding: 10px;
}

.key {
  padding: 10px 20px;
  background-color: hsl(30, 25%, 89%);
  margin: 10px;

  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0px 2px hsl(28, 16%, 65%);

  color: hsl(221, 14%, 31%);
}

.largeKey {
  grid-column-end: span 2;
}

.blueButton {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 2px hsl(224, 28%, 35%);
  color: white;
}

.redButton {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 2px hsl(6, 70%, 34%);
  color: white;
}
